<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.dennys.ruletamundialista"
    version   = "3.3.0">
<name>Ruleta Mundialista</name>
<icon src="phoneGap/Icon@2x.png" gap:platform="android" gap:density="ldpi" />
<gap:splash src="phoneGap/LDPI_landscape.png"  gap:platform="android" gap:density="ldpi" />
<gap:splash src="phoneGap/MDPI_landscape.png"  gap:platform="android" gap:density="mdpi" />
<gap:splash src="phoneGap/HDPI_landscape.png"  gap:platform="android" gap:density="hdpi" />
<gap:splash src="phoneGap/XHDPI_landscape.png" gap:platform="android" gap:density="xhdpi" />

<gap:platform name="android" />

<description>
Una iniciativa de restaurantes Denny's en Costa Rica. Nuestros clientes tiran la ruleta para ganar premios durante los partidos del mundial Brasil 2014.
</description>
<preference name="permissions" value="none" />
<preference name="orientation" value="landscape" />
<preference name="fullscreen" value="true" />
<preference name="exit-on-suspend" value="true" />
<preference name="show-splash-screen-spinner" value="false" />
<author href="http://siteate.com" email="dvdhec@gmail.com">
David Herrera Cordero | siteate.com
</author>
</widget>